
<!-- <%= form_for [@artist] do |f| %> -->


      <div class="row text-center">


        <div class="form-group">
            <%= render 'shared/validation_errors' %>
            <input type="text" id = "name" placeholder =  "Add new song name"></input>
            <input type="text" placeholder= "Add new song url" id = "url"></input>

        </div>

        <div class="actions">
         <%= button_tag "Add new song", class: "btn btn-success", id: "add-song", onclick: "addSong(" + @artist.id.to_s + ")" %>
         <%= button_tag "Delete all",  class: "btn btn-danger", id: "delete-all-songs", data: { confirm: 'Are you sure that you want delete all songs?'}, onclick: "deleteAll(" + @artist.id.to_s + ")" %>
        </div>

        <% end %>

      </div>
