// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.color_red
{
  color : red;
}
.song-title {
    float: left;
    padding-right : 25px;
}
.song-delete
{
  float: right;
}
body
{
   background-image: url("http://res.cloudinary.com/dvmfuraf4/image/upload/v1505064407/wallpaper_axrmrq.jpg")
}
